/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-block-color:green;
	border-block-end-width:1px;
}
#red{
	background-color:red;
	border-block-color:black;
	border-block-end-width:1px;
}
#green{
	background-color:green;
	border-block-color:yellow;
	border-block-end-width:1px;
}